<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Bayma Bruno – Nest Base Project</title>
        <link rel="dns-prefetch" href="//s.w.org" />
        <meta property="og:image"
            content="https://base-project-nest.herokuapp.com/assets/images/webpage.jpg">
        <link
            href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700"
            rel="stylesheet">
        <link
            href="https://fonts.googleapis.com/css?family=EB+Garamond:400,500,700"
            rel="stylesheet">
        <style type="text/css">
		body {
			display: flex;
			flex-flow: column wrap;
			justify-content: center;
			align-items: center;
			background: #1b1b1b;
			color: #fff;
			font-family: 'Montserrat', 'Tahoma';
		}
		h4 {
			font-size: 18px;
			font-weight: 400;
		}
        a,p {
            color: #fff;
			font-weight: 400;
        }
	</style>
    </head>

    <body>
        <img src="https://nestjs.com/img/logo-small.svg" width="120">

        <h4>
            {{ message }}
        </h4>

        <p>Version 2.0.0</p>

        <p>Github: <a href="https://github.com/baymabruno/nestjs-base-project" target="_blank">baymabruno/nestjs-base-project</a></p>
        <p>API Explorer: <a href="/api">/explorer</a></p>
        <p>OpenAPI spec: <a href="/api-json">/openapi.json</a></p>
    </body>

</html>